@charset "utf-8";
@font-face {
	font-family: musicos-variant-comics;
	src:url("../sources/musicos_variant_comics.ttf"); 
	}
	
	
/* CSS Document */

/*Body*/
body {
	background-color: #000001;
}

body h1{
	/*font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: musicos-variant-comics;
	text-align: center;
	font-weight: bolder;
}

.containter{
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	background-color: #E5E3E3;
	-webkit-box-shadow: 0px 0px #E83538;
	box-shadow: 0px 0px #E83538;
	padding-left: 10px;
}

/*Content*/

/*Side Features*/
.sfeat {
	background-color: #FFFFFF;
	float: right;
	-webkit-box-shadow: 3px 3px 3px 3px #000000;
	box-shadow: 3px 3px 3px 3px #000000;
	margin-right: 15px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	clear: both;
	margin-top: 20px;
	margin-left: 15px;
	text-align: center;
}


.sfeat img {
	width: 50px;
	height: 50px;
}

.sfeat h4 {
	text-align: center;
}
/* Navbar */
.nav {
	background-image: url("../sources/nav.jpg");
	}
	
.nav ul {
	margin-left:auto;
	marigin-right:auto;
	width:70%;
}
.nav li {
  font-size: 1.2em;
  list-style-type: none;
  line-height: 130px;
  height: 130px;
  display: inline-block;
  vertical-align:middle;
}
 
.nav a 
{
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #000000;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

#emblem {
	margin-top: -20px;
	width: 180px;
	height: 180px;
	}
	
.navbuttons {
	font-family: musicos-variant-comics;
	font-size: 40px;
	color: white;
	text-decoration: none;
	}

#special {
	color: #FFF10F;
	}	

.navbuttons:hover {
	text-shadow: 0px 0px 10px white;
	}
	
#special:hover {
	text-shadow: 0px 0px 10px #FFF10F;

	}
.banner {
  	margin-left: 15%;
  	margin-right: 15%;
  	width: 70%;
	}
	
/* .artist {
	background-image
	} */


/* Footer */
footer {
	background-image:url("../sources/artistdiv.jpg");
	background-repeat: none;
	/*background-color: #DD0003;*/
	margin-left: 10%;
	margin-right: 10%;
	margin-left: 10%;
	font-family: musicos-variant-comics;
	color: #000000;
	}	
	
footer ul {
	color: white;
	font-size: xx-large;
	list-style: none;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 65%;
	overflow: hidden;
}

footer img {
	width: 200px;
	height: 197px;
	float: right;
	position: relative;
	}
	
footer h1 {
	
}


/*#townsville {
	width: 200px; 
	height: 197px;
	float: right;
	margin-top: 60px;
	margin-right: 50px;
	}*/

/* popup login stuff */
#popupGreyout {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
div#popupLogin {
position:relative;
left:50%;
top:17%;
margin-left:-202px;
display:none;
}
form#login {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
hr#popupLogin {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
#name {
background-repeat:no-repeat;
background-position:5px 7px
}
#password {
background-repeat:no-repeat;
background-position:5px 7px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}
button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-size:18px;
cursor:pointer
}

.artistDetailed
{
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
	display:none;
}